.div{
    background-color: aquamarine;
    height: 30px;
    width: 70%;
}
.texto{
    color:blue;
    text-align: center;
}
body{
    background-image: url("https://www.egeniq.nl/sites/default/files/2020-06/frontend_webdeveloper.jpg");
}